.row
  .col-md-12
    div(ng-include='"control-panes/dashboard/install/install.pug"')
.row
  .col-md-12
    div(ng-include='"control-panes/advanced/remote-debug/remote-debug.pug"')
.row
  .col-md-12
    div(ng-include='"control-panes/dashboard/clipboard/clipboard.pug"')
.row
  .col-md-12
    div(ng-include='"control-panes/dashboard/apps/apps.pug"')
.row
  .col-md-12
    div(ng-include='"control-panes/dashboard/navigation/navigation.pug"')
